node_modules/
dist/
.pnpm-store/
apps/web/dist-test/
build/
.env.local
.env.*.local
*.log
.DS_Store
.vscode/settings.json
pnpm-lock.yaml
.vercel
apps/web/playwright-report/
apps/web/test-results/
.env*.local
